@import url('https://fonts.googleapis.com/css?family=Muli:400,700');


body,
html {
    font-family: 'Muli', sans-serif;
}

.bg-prim-dash .navbar-nav .nav-link {
    font-family: 'Muli', sans-serif;
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.navbar-nav .nav-link {
    color: #7e96b8;
    font-family: 'Muli', sans-serif;
}

.navbar-expand-lg .navbar-nav .active {
    color: #74c947;
}

.navbar-nav .nav-link img {
    height: 20px;
    margin-right: 10px;
}

.dash-logo {
    height: 26px;
    margin-top: 7px;
}

.badge-noti {
    background: #e0e0e0;
    color: black;
    width: 3rem;
    height: 3rem;
}

.nav-drop::after {
    display: none;
}

.user-img {
    background: url(../img/casting/user.jpg);
    background-size: cover;
    background-position: center;
}

.bg-prim-dash {
    background: #74c947;
    padding: 0px;
}

.navbar {
    padding: 0.2rem 0rem;
}

.bg-body {
    background: #f4f7fa;
}

.nav-iconn {
    padding: 8px 8px;
    margin-right: 11px;
    font-size: 16px;
    border-radius: 3px;
}

.bio-desc {
    font-size: 14px;
}

.btn-purple {
    background-color: #74c947;
}

.btn-blue {
    background-color: #0db3c7;
}

.text-pink {
    color: #ea007c;
}

.btn-pink {
    background: #ea007c;
}

.card-heading .card-body {
    padding-top: 8px;
    padding-bottom: 8px;
}

footer {
    background: white;
    color: #b0bbc2;
}

footer p {
    font-size: 12px;
    line-height: 2.1;
}

.footer-copy {
    font-size: 12px;
    color: #b0bbc2;
}

.badge-soci {
    background: #ffffff38 !important;
    color: white !important;
}

.text-black {
    color: black;
}

.map-frame {
    width: 100%;
    height: 300px;
}

.nav-save .nav-link.active {
    background: #ed007b;
}


.nav-border {
    border-bottom: solid 1px #DDE5ED;
}

.bg-inform {
    background: #363f41;
    color: white;
}

.bg-inform p {
    font-size: 14px;
}

.card-prim {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.01), 0 3px 3px rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.card-top {
    text-align: left;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.card-top span {
    color: #363f41;
}

.text-blue {
    color: #74c947;
}

.lspacing-3 {
    letter-spacing: 1px;
}

.card-subb {
    text-transform: uppercase;
    padding-top: 10px;
    color: #576f7f;
    font-size: 12px;
    letter-spacing: 1.4px;
}

.demarn {
    /* padding: 30px 20px; */
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.nodemarn {
    /* padding: 30px 20px; */
}

.deepgray {
    color: #4e5c6e;
}

.btn-primm {
    background: #74c947;
    text-transform: capitalize;
}

.plan-amt {
    color: #74c947;
    font-size: 24px;
}

.btn-secc {
    background: #FD9727;
    text-transform: capitalize;
}

.card-bgg {
    color: white;
    background: #74c947;
}

.card-bgg .card-top span,
.card-bgg h3 {
    color: white;
}

.card-bgg p {
    opacity: 0.7;
    font-size: 12px;
}


.min-card-body {
    min-height: 239px;
}

p {
    font-size: 14px;
}

.total-over {
    font-size: 16px;
}

.trans-table .thead-light th {
    border-color: transparent;
    background-color: transparent;
}

.trans-table tbody tr {
    transition: 0.5s all;
}

.trans-table tbody tr:hover {
    background: rgba(28, 164, 246, 0.08) !important;
    cursor: pointer;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-cir {
    background: #0000004a;
    padding: 11px 12px;
    border-radius: 32px;
    font-size: 10px;
}

.card-input {
    font-size: 25px;
    font-weight: bold;
    padding-left: 0px;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid;
}

.custom-tab {
    margin-bottom: -14px
}

.custom-tab a {
    padding: 21px 19px 21px 0px;
    font-size: 14px;
    margin-right: 24px;
}

.custom-tab a.active {
    font-weight: bold;
    color: #0061f9;
    border-bottom: 3px solid;
}

.invite-header {
    background: url(../img/savings/invite-bg.svg);
    color: white;
    background-size: cover;
    background-position: center;
    padding: 90px 0px;
}

.invite-header h1 {
    color: white;
    font-size: 50px;
}

.invite-action {
    margin-top: 20px;
}

.invite-action a {
    margin-top: 30px;
    font-size: 30px;
    margin-right: 20px;
    color: #b9b9b9;
}

.card-share {
    box-shadow: 0px 3px 13px 3px #0066e029;
    border-radius: 24px;
}

.neg-card {
    margin-top: -80px;
}

.reward-amt {
    color: white;
    font-size: 70px;
}

.reward-amt sup {
    font-size: 36px;
}

.response-info {
    font-size: 76px;
    line-height: 1;
    font-weight: bold;
}

.setting-toggle::after {
    display: none;
}

.bank-card {
    border-radius: 4px;
    padding: 25px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.01), 0 3px 3px rgba(0, 0, 0, 0.01);
}

.bank-primm {
    background: #74c947;
}